.item {
  padding: 1rem;
  border: 1px solid #424242;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.completed {
  border: 1px solid green;
}

.checkbox {
  width: 0;
  visibility: hidden;
  position: absolute;
}

.body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.description {
  color: #424242;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.edit {
  background-color: rgba(251, 173, 46, 0.5);
  padding: 1rem;
  color: white;
}
.delete {
  background-color: rgba(221, 76, 53, 0.5);
  padding: 1rem;
  color: white;
}
