/* CreateTaskForm.module.css */

.form {
  padding: 1.5rem;
  border: 1px solid #424242;
  border-radius: 8px;
}

.form:not(:last-child) {
  margin-bottom: 3rem;
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.row {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.button {
  padding: 0.75rem;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font: inherit;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
}

.input,
.textarea {
  width: 100%;
  padding: 0.75rem;
  /* border: 1px solid #424242; */
  border-radius: 6px;
  font: inherit;
  transition: border 0.2s;
  color: white;
}

/* CreateTaskForm.module.css */
.textarea {
  width: 100%;
  padding: 0.75rem;

  border-radius: 6px;
  font: inherit;
  resize: none; /* ВИМКНУТИ РОЗТЯГУВАННЯ */
  /* min-height: 100px; або rows={4} → висота фіксована */
}

.input:focus,
.textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}

.button:hover {
  background: #0056b3;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
